@{
    ViewData["Title"] = "Home Page";
}

<h1>Configuration Basics</h1>

The message is: <p>@ViewData["WelcomeMessage"]</p>
<br />
<ul>
    <li>@ViewData["TodaysNumber"]</li>
    <li>@ViewData["SystemUp"].ToString()</li>
</ul>
