@{
    ViewData["Title"] = "Home Page";
}
@model WelcomeConfig;

<h1>Configuration Basics</h1>

The message is: <p>@Model.Message</p>   
<br />
<ul>
    <li>@Model.TodaysNumber</li>
    <li>@Model.SystemUp</li>
</ul>
