@using Microsoft.Extensions.Options

@{
    ViewData["Title"] = "Home Page";
}

@inject IOptions<WelcomeConfig> Config

<h1>Configuration Basics</h1>

The message is: <p>@Config.Value.Message</p>   
<br />
<ul>
    <li>@Config.Value.TodaysNumber</li>
    <li>@Config.Value.SystemUp</li>
</ul>   
